html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #000;
	margin: 0;
	box-sizing: border-box;
	line-height: 1.5;
	font-family: 'PT Sans', sans-serif;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}
input[type=color] {
	padding: 1px 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
	cursor: pointer;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

a {
	color: #3665b3;
}
a:active,
a:visited {
	color: #224987;
}